<p>directive works!</p> 

<div class="div-container" *ngIf="showDiv"></div> <br>

<button (click)="toggle()">toggle</button> <br>

<ul>
    <li *ngFor="let item of listItem">{{item}}</li>
</ul>

<div [ngSwitch]="true">
    <p *ngSwitchCase="color === 'yellow'">i like {{color}}</p>
    <p *ngSwitchCase="color === 'black'">i like {{color}}</p>
    <p *ngSwitchCase="color === 'purple'">i like {{color}}</p>
    <p *ngSwitchCase="color === 'blue'">i like {{color}}</p>
    <p *ngSwitchCase="color === 'pink'">i like {{color}}</p>
    <p *ngSwitchDefault>i don't like color</p>
</div> <br> <br>
<div style="color: aqua; font-size: 30px;"> i like pune </div>

<!-- <div  [ngstyle] ="{backgroundColor: getColor()}"> i like yellow</div>  -->

<div class ="div-container1"> i like india</div>
<div [class.div-container1] ="journy=='admin'"
    [class.div-container2] ="journy=='user'"
    [class.div-container] ="journy=='owner'"> i like india</div>


