<p>routing databinding works!</p>


<div>welcome to angular ---app component</div> 
<div>ankita kale</div>

 <p>{{a}}</p>    <!-- proprty   string interpolation-->
<p>{{b}}</p>
<p>{{city}}</p>

 <input type="text" [value]="myName">    <!-- property binding almost use on input tag -->
<input type="text" [value] ="pincode"><br>
<input type="property binding" [disabled]="isdisable"> <br>
<input type="string interpolation" disabled="{{isdisable}}"><br>

<button (click)="submit()">submit</button> 
<div>{{fruit}}</div> <br><br>


<input type="text" [(ngModel)]="favFruit">enter your fev fruit 
<br>

{{favFruit}}
<!-- <app-home></app-home> -->