
<div class="form-container">
    <h1>Login Form</h1>
    <form  #loginForm="ngForm">

        <label for="">Username</label><br>
        <input type="text" #userName="ngModel" ngModel name="Uname"
         required  pattern="^[a-zA-Z ]*$" minlength="2" maxlength="20" [(ngModel)]="defaltvalue" >
        
        
         <div *ngIf="userName?.errors?.['required'] && userName?.touched"  class="error-msg">
            user name is required</div>
         
        <div *ngIf="userName?.errors?.['pattern'] && !userName?.errors?.['minlength']" class="error-msg">
                username must be alphabet</div>

         <div *ngIf="userName?.errors?.['minlength']" class="error-msg">
            minlength must be 2</div><br>

            <label for="">password</label><br>

            <input [type]=" isShowPass ? 'text' : 'password' "  #pass="ngModel" ngModel name="password" 
        required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,10}$"
         placeholder="enter your password"> 

         <i class="bi bi-eye-fill eye-icon" *ngIf="isShowPass" (click)="toShowPassword()"></i>
         <i class="bi bi-eye-slash-fill eye-icon2" *ngIf="!isShowPass"  (click)="toShowPassword()"></i> 

        <div  *ngIf="pass?.errors?.['required'] &&pass?.touched" class="error-msg"> password is required</div> 
        <div *ngIf="pass?.errors?.['pattern']"  class="error-msg">Invalid password</div><br><br>


        <button (click)="Login(loginForm.value)" [disabled]="!loginForm.valid">submit</button> <br> <br>
        <a routerLink="/user/signup">click here to create account</a>
    </form>
</div>
