.form-container{
    text-align: center;
    background-color: aqua;
    height: 340px;
    width: 350px;
    border: 8px rgb(233, 10, 10);
    margin: auto;
    border-radius: 10px;
    position: relative;
    top: 20px;
    

}
.error-msg{
    color: red;
}
.eye-icon{
        position: absolute;
        left: 240px;
        top: 118px;

}
.eye-icon2{
    position: absolute;
        left: 240px;
        top: 118px;

}